header,
section {
    display: block
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
body {
    margin: 0
}
a:focus {
    outline: 0
}
a:active,
a:hover {
    outline: 0
}
h1 {
    font-size: 2em;
    margin: .67em 0
}
strong {
    font-weight: 700
}
img {
    border: 0
}
html {
    height: 100%
}
body {
    height: 100%;
    padding: 0;
    cursor: default;
}
div#banner { 
    width: 100%; 
    text-align: center;
    background-color: #000000; 
    padding: 10px;
}
.fktJzd *,
.fktJzd :after,
.fktJzd :before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.LS81yb,
.oKdM2c {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 1280px
}
.LS81yb {
    padding-left: 5px;
    padding-right: 5px
}
.JNdkSc,
.jXK9ad {
    box-sizing: border-box;
    display: inline-block;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    vertical-align: top;
    width: 100%
}
.jXK9ad-SmKAyb {
    width: 100%
}
::-webkit-scrollbar {
    height: 16px;
    overflow: visible
}
::-webkit-scrollbar-button {
    height: 0;
    width: 0
}
::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px
}
::-webkit-scrollbar-track:horizontal {
    border-width: 4px 0 0
}
::-webkit-scrollbar-track:hover {
    background-color: rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, .1)
}
::-webkit-scrollbar-track:horizontal:hover {
    -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, .1)
}
::-webkit-scrollbar-track:active {
    background-color: rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px 0 0 rgba(0, 0, 0, .07);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px 0 0 rgba(0, 0, 0, .07)
}
::-webkit-scrollbar-track:horizontal:active {
    -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .14), inset 0 -1px 0 rgba(0, 0, 0, .07);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, .14), inset 0 -1px 0 rgba(0, 0, 0, .07)
}
::-webkit-scrollbar-thumb {
    min-height: 28px;
    padding: 100px 0 0;
    -moz-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset 0 -1px 0 rgba(0, 0, 0, .07)
}
::-webkit-scrollbar-thumb:horizontal {
    border-width: 6px 1px 1px;
    padding: 0 0 0 100px;
    -moz-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .07);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px 0 0 rgba(0, 0, 0, .07)
}
::-webkit-scrollbar-thumb:hover {
    -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .25)
}
::-webkit-scrollbar-thumb:active {
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .35);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, .35)
}
::-webkit-scrollbar-corner {
    background: 0 0
}
body::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    background-color: #f5f5f5;
    border: solid #fff;
    border-width: 0 0 0 3px;
    -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px 0 0 rgba(0, 0, 0, .07);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, .14), inset -1px 0 0 rgba(0, 0, 0, .07)
}
body::-webkit-scrollbar-track-piece:horizontal {
    border-width: 3px 0 0;
    -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, .14), inset 0 -1px 0 rgba(0, 0, 0, .07);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, .14), inset 0 -1px 0 rgba(0, 0, 0, .07)
}
body::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 5px
}
body::-webkit-scrollbar-thumb:horizontal {
    border-width: 5px 1px 1px
}
body::-webkit-scrollbar-corner {
    background-clip: padding-box;
    background-color: #f5f5f5;
    border: solid #fff;
    border-width: 3px 0 0 3px;
    -moz-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .14);
    box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .14)
}
html {
    font-size: 16px
}
ul {
    list-style-type: square
}
.yaqOZd {
    background-size: cover;
    display: table;
    position: relative;
    table-layout: fixed;
    width: 100%
}
.IFuOkc {
    background-size: cover;
    display: table;
    table-layout: fixed
}
@media only screen and (max-width:767px) {
    .IFuOkc,
    .yaqOZd {
        padding-bottom: 0;
        padding-top: 0
    }
}
@media only screen and (min-width:768px) {
    .yaqOZd:not(.LB7kq):not(.WxWicb) {
        padding-bottom: 1.5rem;
        padding-top: 1.5rem
    }
}
.IFuOkc:after,
.IFuOkc:before,
.baZpAe:before,
.yaqOZd:before,
.zfr3Q:before {
    bottom: 0;
    content: "";
    display: none;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0
}
.IFuOkc {
    display: table-cell;
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%
}
.mYVXT {
    display: table-cell;
    vertical-align: middle;
    width: 100%
}
.zfr3Q {
    font-variant-ligatures: none;
    margin: 0;
    outline: 0;
    position: relative
}
.UVNKR:first-child,
.n8H08c .TYR86d:first-child,
.yaqOZd .zfr3Q:first-child,
.zfr3Q:first-child {
    margin-top: 0;
    padding-top: 0
}
.aP9Z7e:first-child+.zfr3Q,
.yaqOZd .aP9Z7e:first-child+.zfr3Q {
    margin-top: 0;
    padding-top: 0
}
.aP9Z7e:first-child,
.yaqOZd .aP9Z7e:first-child {
    margin-bottom: 0
}
.UVNKR:last-child,
.n8H08c .TYR86d:last-child,
.yaqOZd .zfr3Q:last-child,
.zfr3Q:last-child {
    margin-bottom: 0;
    padding-bottom: 0
}
.n8H08c {
    padding-left: 20px;
    margin: 6px 0 0 0
}
.n8H08c .TYR86d {
    margin: 6px 0 0 0
}
.zfr3Q {
    text-decoration: inherit;
    color: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit
}
::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0);
    width: 9px
}
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, .2)
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, .35)
}
::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, .45)
}
.AKpWA {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    height: 100vh
}
.RCETm {
    flex: 0 0 auto;
    outline: 0
}
.VICjCf {
    margin-left: auto;
    margin-right: auto
}
.WxWicb {
    padding-bottom: 0;
    padding-top: 0
}
.tyJCtd {
    position: relative;
    width: 100%
}
.mGzaTb {
    padding: 8px;
    word-wrap: break-word
}
.yYI8W .mGzaTb {
    padding: 14px 8px
}
.iwQgFb {
    margin-top: 9px;
    height: 1px;
    background-color: #5f6368
}
.JYTMs {
    white-space: pre-wrap
}
.tyJCtd .aP9Z7e {
    display: block;
    margin-bottom: 0
}
@media only screen and (max-width:767px) {
    .OjCsFc {
        padding-top: 1.5rem
    }
    .wHaque {
        padding-bottom: 1.5rem
    }
}
.zfr3Q.TYR86d:not(.Sn3DJc) {
    line-height: 0
}
.LS81yb {
    outline: 0
}
::-webkit-scrollbar-thumb {
    border: 1px solid rgba(255, 255, 255, .4)
}
.FKF6mc,
.FKF6mc:focus {
    display: block;
    outline: 0;
    text-decoration: none
}
.FKF6mc:visited {
    fill: inherit;
    stroke: inherit
}
.L7IXhc {
    -moz-user-select: none;
    -moz-transition: background .2s .1s;
    transition: background .2s .1s;
    align-items: center;
    border: 0px;
    border-color: inherit;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 36px;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    width: 100%;
    z-index: 0;
    cursor: default;
}
.wvnY3c {
    -moz-transform: translate(-50%, -50%) scale(0);
    transform: translate(-50%, -50%) scale(0);
    transition: opacity .2s ease, visibility 0s ease .2s, transform 0s ease .2s;
    transition: opacity .2s ease, visibility 0s ease .2s, -webkit-transform 0s ease .2s;
    background-size: cover;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    visibility: hidden;
    background-image: radial-gradient(circle farthest-side, rgba(0, 0, 0, .12), rgba(0, 0, 0, .12) 80%, rgba(0, 0, 0, 0) 100%)
}
.L7IXhc a {
    width: 100%;
    text-decoration: none
}
.NsaAfc {
    text-align: center;
    width: 100%
}
@media only screen and (max-width:767px) {
    .NsaAfc {
        padding-left: 6px;
        padding-right: 6px
    }
}
@media only screen and (min-width:768px) {
    .NsaAfc {
        padding-left: 12px;
        padding-right: 12px
    }
}
.NsaAfc p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}
@media only screen {
    .purZT-AhqUyc-II5mzb {
        width: 100%
    }
    .purZT-AhqUyc-II5mzb.JNdkSc .JNdkSc-SmKAyb {
        padding-left: 3.75%;
        padding-right: 3.75%
    }
}
@media only screen and (min-width:480px) {
    .pSzOP-AhqUyc-II5mzb {
        width: 66.6666666667%
    }
    .pSzOP-AhqUyc-II5mzb.JNdkSc .JNdkSc-SmKAyb {
        padding-left: 3.75%;
        padding-right: 3.75%
    }
    .pSzOP-AhqUyc-qWD73c {
        width: 100%
    }
    .pSzOP-AhqUyc-qWD73c.JNdkSc .JNdkSc-SmKAyb {
        padding-left: 2.5%;
        padding-right: 2.5%
    }
}
@media only screen and (min-width:768px) {
    .hJDwNd-AhqUyc-II5mzb {
        width: 33.3333333333%
    }
    .hJDwNd-AhqUyc-II5mzb.JNdkSc .JNdkSc-SmKAyb {
        padding-left: 3.75%;
        padding-right: 3.75%
    }
    .hJDwNd-AhqUyc-II5mzb .hJDwNd-AhqUyc-II5mzb {
        width: 100%
    }
    .hJDwNd-AhqUyc-uQSCkd {
        width: 100%
    }
    .hJDwNd-AhqUyc-uQSCkd.JNdkSc .JNdkSc-SmKAyb {
        padding-left: 1.25%;
        padding-right: 1.25%
    }
    .hJDwNd-AhqUyc-uQSCkd .hJDwNd-AhqUyc-uQSCkd {
        width: 100%
    }
}
@media only screen and (min-width:768px) {
    .LS81yb {
        padding-left: 48px;
        padding-right: 48px
    }
}
@media only screen and (max-width:479px) {
    .L6cTce-purZT {
        display: none
    }
    .LS81yb,
    .oKdM2c {
        display: -moz-box;
        display: flex;
        flex-wrap: wrap;
        -moz-box-pack: center;
        justify-content: center
    }
    .JNdkSc-SmKAyb {
        padding-left: 3.75%;
        padding-right: 3.75%
    }
}
@media only screen and (min-width:480px) and (max-width:767px) {
    .L6cTce-pSzOP {
        display: none
    }
    .LS81yb,
    .oKdM2c {
        display: -moz-box;
        display: flex;
        flex-wrap: wrap;
        -moz-box-pack: center;
        justify-content: center;
        max-width: 544px
    }
    .JNdkSc-SmKAyb {
        padding-left: 2.5%;
        padding-right: 2.5%
    }
}
.i2gjFc.i2gjFc * {
    -moz-box-sizing: content-box;
    box-sizing: content-box
}
.Mi644 {
    text-align: center
}
.RNpQXe {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    font-size: 10pt
}
.xbGufb {
    object-fit: cover
}
.iwQgFb {
    background-color: rgba(0, 0, 0, 1);
    height: 2px;
    margin-top: 8.5px
}
.zfr3Q {
    color: rgba(0, 0, 0, 1)
}
.duRjpb {
    color: rgba(0, 0, 0, 1)
}
.yaqOZd:before {
    display: block;
    background-color: rgba(255, 255, 255, 1)
}
@media only screen and (min-width:768px) {
    .yaqOZd:not(.LB7kq):not(.WxWicb) {
        padding-top: .5rem;
        padding-bottom: .5rem
    }
}
.j5pSsc {
    padding-left: 9px;
    padding-right: 9px
}
@media only screen {
    .ZcASvf-AhqUyc-II5mzb.SQVYQc .LkDMRd {
        padding-left: 1.875%;
        padding-right: 1.875%
    }
}
@media only screen and (min-width:480px) {
    .Ktthjf-AhqUyc-II5mzb.SQVYQc .LkDMRd {
        padding-left: 1.875%;
        padding-right: 1.875%
    }
}
@media only screen and (min-width:768px) {
    .Ft7HRd-AhqUyc-II5mzb.SQVYQc .LkDMRd {
        padding-left: 1.875%;
        padding-right: 1.875%
    }
}
@media only screen and (min-width:480px) {
    .Ktthjf-AhqUyc-qWD73c.SQVYQc .LkDMRd {
        padding-left: 1.25%;
        padding-right: 1.25%
    }
}
@media only screen and (min-width:768px) {
    .Ft7HRd-AhqUyc-uQSCkd.SQVYQc .LkDMRd {
        padding-left: .625%;
        padding-right: .625%
    }
}
@media only screen and (max-width:767px) {
    .dmUFtb {
        padding-top: .5rem
    }
}
@media only screen and (max-width:767px) {
    .g5GTcb {
        padding-bottom: .5rem
    }
}
@media only screen and (min-width:768px) {
    .db35Fc {
        padding-left: 24px;
        padding-right: 24px
    }
}
@media only screen and (max-width:479px) {
    .LkDMRd {
        padding-left: 1.875%;
        padding-right: 1.875%
    }
}
@media only screen and (min-width:480px) and (max-width:767px) {
    .LkDMRd {
        padding-left: 1.25%;
        padding-right: 1.25%
    }
}
@media only screen and (min-width:480px) and (max-width:767px) {
    .db35Fc {
        max-width: 552px
    }
}
@media only screen and (min-width:480px) and (max-width:767px) {
    .ZZyype {
        max-width: 552px
    }
}
.HQwdzb .Depvyb {
    padding-top: 10px;
    padding-bottom: 10px
}
.yaqOZd .db35Fc {
    max-width: 1280px
}
.db35Fc .ZZyype {
    max-width: 1280px
}
.CDt4Ke.zfr3Q {
    font-family: Verdana;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    vertical-align: baseline;
    text-decoration: none;
    display: block;
    line-height: 1.26;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    text-indent: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12pt
}
.TYR86d.zfr3Q {
    font-family: Verdana;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    vertical-align: baseline;
    font-size: 12pt
}
.CDt4Ke.duRjpb {
    font-family: Verdana;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    vertical-align: baseline;
    text-decoration: none;
    display: block;
    line-height: 1.2;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    text-indent: 0;
    margin-top: 17pt;
    margin-bottom: 0
}
.CDt4Ke.duRjpb {
    font-size: 34pt
}
@media only screen and (max-width:479px) {
    .CDt4Ke.duRjpb {
        font-size: 25pt
    }
}
@media only screen and (min-width:480px) and (max-width:767px) {
    .CDt4Ke.duRjpb {
        font-size: 30pt
    }
}
@media only screen and (min-width:768px) and (max-width:1279px) {
    .CDt4Ke.duRjpb {
        font-size: 34pt
    }
}
@media only screen and (min-width:1280px) {
    .CDt4Ke.duRjpb {
        font-size: 34pt
    }
}
@media only screen and (max-width:479px) {
    .puwcIf {
        font-size: 20pt
    }
}
@media only screen and (min-width:480px) and (max-width:767px) {
    .puwcIf {
        font-size: 22pt
    }
}
@media only screen and (min-width:768px) and (max-width:1279px) {
    .puwcIf {
        font-size: 24pt
    }
}
@media only screen and (min-width:1280px) {
    .puwcIf {
        font-size: 24pt
    }
}
@media only screen and (max-width:479px) {
    .jgG6ef {
        font-size: 17pt
    }
}
@media only screen and (min-width:480px) and (max-width:767px) {
    .jgG6ef {
        font-size: 17pt
    }
}
@media only screen and (min-width:768px) and (max-width:1279px) {
    .jgG6ef {
        font-size: 18pt
    }
}
@media only screen and (min-width:1280px) {
    .jgG6ef {
        font-size: 18pt
    }
}
.htnAL {
    height: 27pt;
    font-size: 12pt;
    font-family: Verdana;
    font-weight: 400
}
.QmpIrf {
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    border-color: rgba(0, 0, 0, 1);
}
